VITE_SITE_URL=https://viswaas-portfolio.netlify.app
VITE_WHATSAPP_NUMBER=916382450849
VITE_EMAIL=viswaas08@gmail.com
VITE_GITHUB_URL=https://github.com/viswaas08
VITE_LINKEDIN_URL=https://www.linkedin.com/in/viswaa-s-69a49a1ba
